// Importing inter font from google-fonts
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800;900&display=swap");

//reset the layout
*,
*::after,
*::before {
  //   margin: 0;
  padding: 0;
  box-sizing: border-box;
}

//colors-varibles [Hues]
$bkg: #abd1c6;
$form-bkg: #004643;
$headline: #001e1d;
$form-headline: #fffffe;
$paragraph: #abd1c6;
$btn-bkg-color: #f9bc60;
$btn-text: #001e1d;

//body
body {
  font-family: "Inter", sans-serif;
  background-color: #abd1c6;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  color: #fffffe;
  text-align: center;
  margin: 0;
}

h3 {
  color: $form-headline;
  font-weight: bold;
}

label {
  font-weight: bold;
}

.container {
  background-color: #004643;
  color: #e8e4e6;
  padding: 3rem;
  border-radius: 1rem;
  border: 2px solid #f9bc60;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form {
  display: grid;
  grid-template-columns: auto auto;
  row-gap: 1rem;
  column-gap: 3rem;
  justify-content: center;
  align-items: center;
}

.range-container {
  display: flex;
  align-items: center;
}

.number-input {
  width: 2rem;
}

input {
  cursor: pointer;
}

.password-display {
  background-color: #fffffe;
  color: #e16162;
  padding: 1.5rem;
  border: 1px solid #f9bc60;
  height: 2.5rem;
  width: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
  word-break: break-all;
  border-radius: 0.5rem;
  cursor: pointer;
}

.generate-btn {
  background-color: #f9bc60;
  color: $btn-text;
  font-size: 1rem;
  font-weight: bold;
  grid-column: span 2;
  padding: 0.5rem 1rem;
  border: 2px solid #001e1d;
  cursor: pointer;
  border-radius: 1rem;
}

.generate-btn:hover {
  background-color: #abd1c6;
}

.meter {
  width: 440px;
  margin-bottom: 1rem;
}
